.manage-trip {
    text-align: center;

    &__headers-row {
        border-bottom: 0.1rem solid $trip-header-text;
        margin-bottom: 1.9rem;
    }

    &__details-section {
        text-align: center
    }

    &__dropdown {
        justify-content: center;
    }

    &__dropdown-text {

        margin-top: 0.4rem;
        font-family: $secondry-font;
        color: $trip-header-text;

    }

    &__btn-dropdwon {
        outline: none;
        background: $white-color !important;
        // width: 11rem;
        color: $grey-color;
    }


    &__category-content {
        // border: 1px white solid;
    }

    &--icons-and-text {
        color: $trip-tabs-icons-txt;
        font-family: $secondry-font;
    }

    &__text-header {
        color: $trip-header-text;
        font-family: $primary-font;
        font-size: 2rem;
        font-weight: 600;
    }
}